<! DOCTYPE html> 
{% load static %}
<html>
  <head> 
    <title> Rango </title>
    <!-- <link rel = "stylesheet" href= "{% static "css/base.Css" %}" /> <!-- Css -->
<!--    <script src = "{% static "js/jquery.js" %} > </script> -->
  </Head>
  <Body>
<img src="{% static 'images/rango.jpg' %}" alt = "picture" width=75 height=75 />
    <A Href = "/rango/">Home  </A> <A Href = "/rango/about/">About  </a> <a href = "/rango/contact/"> contact  </a> 

    <h1> Rango Says ....I'm the about page </h1> 
    Hello   <strong > {{ boldmessage }}</strong> <br/> 
    <img src="{% static 'images/1501.jpg' %}" alt = "picture" width=80 height=80 />
<h1> This is </h1>

  </body>
</html>

